{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="welcome">
            <h1>ADD BADGE</h1>
        </div>

        {% block header_navigation_links %}
            <li>
                <a href="{{ path('admin_panel_index') }}">
                    <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.index'|trans }}
                </a>
            </li>

            <li>
                <a href="{{ path('admin_panel_user_assign_badge') }}">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'menu.assign_badge'|trans }}
                </a>
            </li>
        {% endblock %}

        {{ form_start(badge_form) }}
        {{ form_widget(badge_form) }}
        {{ form_end(badge_form) }}

    </div>
{% endblock %}