{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Badges list</h1>
    <br>

    {% block header_navigation_links %}
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('admin_panel_badge_index') }}">Badges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_panel_user_index') }}">Users</a>
            </li>
        </ul>
    {% endblock %}
    <br>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_panel_badge_add') }}">Add Badge</a>
        </li>
    </ul>
    <br>
    <table class="table bg-white">
        <thead>
        <tr>
            <th scope="col">NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for badge in badges %}
            <tr>
                <td>{{ badge.name }}</td>
                <td>{{ badge.description }}</td>
                <td class="text-right">
                    <div>
                        <a class="btn btn-warning btn-sm disabled" href="#">
                            Edit
                        </a>

                        <a class="btn btn-danger btn-sm enabled" href="{{ path('admin_panel_badge_delete', {'id':badge.id}) }}">
                            Delete
                        </a>
                    </div>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">NOT FOUND</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

