{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">User list</h1>
    <br>
    {% block header_navigation_links %}
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_panel_badge_index') }}">Badges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('admin_panel_user_index') }}">Users</a>
            </li>
        </ul>
    {% endblock %}
    <br>
    <table class="table bg-white">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="text-right">
                        <a class="btn btn-success btn-sm" href="{{ path('admin_panel_user_badge_index', {userId: user.id}) }}">
                            Assign badge
                        </a>
                    </div>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">NOT FOUND</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

