{% extends 'base.html.twig' %}

{% set stateCompleted = '2' %}

{% block body %}
    <h1>ASSIGN BADGES TO USER</h1>

    {% block header_navigation_links %}
        <li>
            <a href="{{ path('admin_panel_user_index') }}">
                <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.user.index'|trans }}
            </a>
        </li>

        <li>
            <a href="{{ path('admin_panel_badge_index') }}">
                <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'menu.badge.index'|trans }}
            </a>
        </li>
    {% endblock %}

    <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for badgeWithProgress in allBadgesWithProgress %}
            <tr>
                <td>{{ badgeWithProgress.badge.id }}</td>
                <td>{{ badgeWithProgress.badge.name }}</td>
                <td>{{ badgeWithProgress.badge.description }}</td>
                <td class="text-right">
                    <div>
                    {% if badgeWithProgress.state == stateCompleted %}
                        <a href="{{ path('admin_panel_user_badge_activate', {'id':badgeWithProgress.id}) }}">
                            <i></i> {{ 'action.unactivate'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('admin_panel_user_badge_unactivate', {'id': badgeWithProgress.id}) }}">
                            <i></i> {{ 'action.activate'|trans }}
                        </a>
                    {% endif %}
                    </div>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">NOT FOUND</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

