{% extends 'base.html.twig' %}

{% set stateCompleted = '2' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Assign badges to user: {{ allBadgesWithProgress.owner.username }}</h1>
        <br>
        {% block header_navigation_links %}
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_panel_badge_index') }}">Badge index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('admin_panel_user_index') }}">User index</a>
                </li>
            </ul>
        {% endblock %}
        <br>
        <table class="table bg-white">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">ACTION</th>
            </tr>
            </thead>
            <tbody>
            {% for badgeWithProgress in allBadgesWithProgress %}
                <tr>
                    <td>{{ badgeWithProgress.badge.id }}</td>
                    <td>{{ badgeWithProgress.badge.name }}</td>
                    <td>{{ badgeWithProgress.badge.description }}</td>
                    <td class="text-right">
                        <div>
                            {% if badgeWithProgress.state == stateCompleted %}
                                <a href="{{ path('admin_panel_user_badge_unactivate', {'id':badgeWithProgress.id}) }}">
                                    <i></i> {{ 'action.unactivate'|trans }}
                                </a>
                            {% else %}
                                <a class="btn btn-success btn-sm" href="{{ path('admin_panel_user_badge_activate', {'id': badgeWithProgress.id}) }}">
                                    Activate
                                </a>
                            {% endif %}
                        </div>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="4" align="center">NOT FOUND</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

