{% extends 'base.html.twig' %}

{% set stateCompleted = '2' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="content-main col-xl-8">

                {% for badgeWithProgress in allBadgesWithProgress %}

                    {% set class='' %}
                    {% if badgeWithProgress.state != stateCompleted %}
                        {% set class = 'class="mf-badge mf-badge-locked"' %}
                    {% else %}
                        {% set class = 'class="mf-badge mf-badge-unlocked"' %}
                    {% endif %}

                    {# BADGE PERCENT #}

                    {% set badgetPogressPercent = badgeWithProgress.progress / badgeWithProgress.badge.target * 100 %}

                    <div {{ class|raw }}>
                        <div class="mf-badge-icon">
                            {% if badgeWithProgress.state != stateCompleted %}
                                {% embed '@app_views/components/icons.twig' with { icon: 'lock' } %}{% endembed %}
                            {% else %}
                                {% embed '@app_views/components/icons.twig' with { icon: badgeWithProgress.badge.iconName } %}{% endembed %}
                            {% endif %}
                        </div>
                        <div class="mf-badge-content">
                            <h3 class="mf-badge-content-title">{{ badgeWithProgress.badge.name }}</h3>
                            <p class="mf-badge-content-desc">{{ badgeWithProgress.badge.description }}</p>
                            {% if badgeWithProgress.state != stateCompleted %}
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ badgetPogressPercent }}%" aria-valuenow="{{ badgeWithProgress.progress }}" aria-valuemin="0" aria-valuemax="{{ badgeWithProgress.badge.target }}"></div>
                                </div>
                                <div class="progress-value">
                                    {{ badgeWithProgress.progress }}/{{ badgeWithProgress.badge.target }}
                                </div>
                            {% endif %}
                        </div>
                        {% if badgeWithProgress.state == stateCompleted %}
                            <div class="mf-badge-date">
                                <div class="mf-badge-date-label">unlocked</div>
                                <div class="mf-badge-date-value">{{ badgeWithProgress.unlockDate|date("m/d/Y") }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>

            <div class="content-sidebar col-xl-4">
                <div class="widget">
                    <div class="widget-title">Activity stream</div>
                    <div class="widget-body stream">
                    {% for activity in activities %}
                        <div class="stream-item">
                            <div class="stream-item-avatar">
                                <img src="/assets/images/avatar.png" alt="">
                            </div>
                            <div class="stream-item-content">
                                <h5 class="stream-item-content-title">{{ activity.user.nickname }}</h5>
                                <div class="stream-item-content-desc">
                                    unlocked: <strong>{{ activity.badge.name }}</strong>
                                </div>
                            </div>
                            <div class="stream-item-date">
                                <span>{{ activity.unlockDate|date("m/d/Y H:i:s") }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% for item in topTen %}
        NICK: {{ item.0.user.nickname }} <br/>
        BADGE: {{ item.0.badge.name }} <br/>
        COUNTER: {{ item.counter }} <br/>
        <br/><br/>
    {% endfor %}

{% endblock %}