<div class="login-wrapper">

    <script src="/assets/js/anim1.js"></script>

    <div class="login-logo">
        <div id="bodymovin"></div>
    </div>

    <script src="/assets/js/anim2.js"></script>

    {% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
            <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="username">
                <span class="input__label-content input__label-content--hoshi">Login</span>
            </label>
        </span>

        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="password" id="password" name="_password" required="required"/>
            <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="password">
                <span class="input__label-content input__label-content--hoshi">Password</span>
            </label>
        </span>

        <div class="form-action text-right">
            <a class="form-action-register" href="{{ path('fos_user_registration_register') }}">Register</a>
            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Log in" />
        </div>
    </form>

</div>

<script src="/assets/js/classie.js"></script>
<script>
    (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function() {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function() {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
            // in case the input is already filled..
            if( inputEl.value.trim() !== '' ) {
                classie.add( inputEl.parentNode, 'input--filled' );
            }

            // events:
            inputEl.addEventListener( 'focus', onInputFocus );
            inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
            classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
            if( ev.target.value.trim() === '' ) {
                classie.remove( ev.target.parentNode, 'input--filled' );
            }
        }
    })();
</script>