<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Sign in - Monsterfication{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('assets/build/style.css') }}">
</head>
<body>
<div>
    <!--
    {*8% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {*{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{*{ path('fos_user_security_logout') }}">
            {*{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {*% else %}
        <a href="{*{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {*% endif %}
    -->
</div>



<div>
    {% block fos_user_content %}
        <div class="login-wrapper">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endblock fos_user_content %}
</div>
<script src="/assets/js/svg4everybody.js"></script>
<script>svg4everybody();</script>
</body>
</html>